.ListItem {
  color: #b82132;
  padding: 1.5em;
  text-align: left;
  background-color: #ffedfa;
}
.selectUrgency{
  background-color: rgb(235, 228, 223);
  color:black;
  border-radius: 13px;
  padding: 2px;
}
.urgency-high{
  background: linear-gradient(to right, #e06630 0%, #ab0d07 100%);
  color: aliceblue;
}
.urgency-medium{
  background: linear-gradient(to right, #f3a833 0%, #3c5a38 100%);
}

.urgency-low{
  background: linear-gradient(to right, #e8f1df 0%, #3c5a38 100%)
}
.trashIcon {
  background-color: #d12a56;
  cursor: pointer;
  padding: 2px;
}

@media screen and (max-width: 450px) {
  .trashIcon {
    border-radius: 85px;
    font-weight: 300;
    padding: 0.5em;
  }
}

@media screen and (max-width: 450px) {
    .ListItem{
        padding: 0.7em;
        font-size: 0.7em;
    }
    .removeBtn{
        padding: 0.2em;
    }
}
