.ListItem {
  color: #b82132;
  padding: 1.5em;
  text-align: left;
  background-color: #ffedfa;
}
.selectUrgency{
  background-color: rgb(235, 228, 223);
  color:black;
  border-radius: 13px;
  padding: 2px;
}
.urgency-high{
  background-color: #b2121f;
  color: aliceblue;
}
.urgency-medium{
  background-color: orange;
}

.urgency-low{
  background-color: rgb(155, 194, 96);
}
.removeBtn {
  background-color: #d12a56;
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  .removeBtn {
    border-radius: 85px;
    font-weight: 300;
    padding: 0.5em;
  }
}

@media screen and (max-width: 450px) {
    .ListItem{
        padding: 0.7em;
        font-size: 0.7em;
    }
    .removeBtn{
        padding: 0.2em;
    }
}
